<section class="fale-conosco-container">
  <h1>📢 Fale conosco</h1>

  <p>
    📢 <strong>Fale Conosco</strong><br />
    Tem dúvidas, sugestões ou quer saber mais sobre como o SolveMe Bot pode ajudar sua empresa?<br /><br />
    Nossa equipe está pronta para te ouvir!<br /><br />
    Entre em contato com a gente e responderemos o mais rápido possível.
  </p>

  <hr class="divider" />

  <h3>📂 Formas de contato:</h3>
  <ul class="contato-lista">
    <li><strong>E-mail: contanto&#64;solveme.com</strong></li>
    <li><strong>Telefone / WhatsApp:</strong> (61) 99804-3763</li>
    <li><strong>LinkedIn:</strong> linkedin.com/xxxxx/xxxxx</li>
  </ul>

  <p class="mensagem-final">
    💬 Ou, se preferir...<br />
    fale direto comigo →<br />
    o SolveMe Bot está sempre pronto para te ajudar! 😉
  </p>


</section>
