<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="dashboard-header">
      <span class="material-icons back-arrow" (click)="voltar()">arrow_back</span>
      <h2>Dashboard do Administrador</h2>
    </div>

    <div class="card-grid">
      <a href="/usuario" class="card-link">
        <div class="card">
          <span class="material-icons">group</span>
          <p>Gerenciamento de usuários</p>
        </div>
      </a>
   
      <a href="/dashbord-admin" class="card-link">
        <div class="card">
          <span class="material-icons">dashboard</span>
          <p>Dashboard</p>
        </div>
      </a>
      <a href="/menu" class="card-link">
        <div class="card">
          <span class="material-icons">home</span>
          <p>Home</p>
        </div>
      </a>
      <a href="/mural-atividades-admin" class="card-link">
        <div class="card">
          <span class="material-icons">calendar_month</span>
          <p>Mural de atividade<br>funcionários</p>
        </div>
      </a>
    </div>
  </div>
</div>
