<header class="header">
    <div class="logo">

      <a href="menu"><img src="assets/img/logo.png" alt="Logo" /></a>
    </div>
    <nav class="nav">
      <button
        class="nav-button"
        routerLink="/menu"
        routerLinkActive="primary"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Menu
      </button>
  
      <button
        class="nav-button"
        routerLink="/suporte"
        routerLinkActive="primary"
      >
        Suporte
      </button>
  
      <button
        class="nav-button"
        routerLink="/faleconosco"
        routerLinkActive="primary"
      >
        Fale conosco
      </button>
  
      <button
        class="nav-button"
        routerLink="/sobrenos"
        routerLinkActive="primary"
      >
        Sobre nós
      </button>
  
      <button
        class="nav-button"
        routerLink="/login"
        routerLinkActive="primary"
      >
        Deslogar
      </button>
    </nav>
  </header>
  